.btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem ;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i{
    display: inline;
    margin-right : 0.5rem ;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem ;
  }

  #contact-info a{
    font-size: small;
  }

  .right-div a{
    text-decoration: none;
    color: black;
  }
  /* footer  */
  #contact-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* Add additional styling as needed */
}

#contact-info {
    margin-top: 2px;
    /* margin-bottom: 1rem; */
}

#contact-link {
    font-size: 1rem;
}

.containered {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 10px; */
}

.left-div{
    width: 45%; 
    padding: 10px;
    margin-left: 30px;
}
.right-div {
    width: 45%; 

}

.f-info-socials a{
    text-decoration: none;
}

  .navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    margin-right: 1rem ;
    /* !important -- use to override the bootstrap styling  */
}




*{
    margin: 0; padding: 0;
    font-family: "Poppins", sans-serif;
}


.material-symbols-outlined{
    color: black;
}

.btn_one span {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    left: 15px;
    top: 15px;
    line-height: 30px;
    
}

.sidebar_menu{
    position: fixed;
    left: -400px;
    height: 100vh; width: 300px;
    background-color: white ;
    /* box-shadow: 0 0 8px black ; */
}


.sidebar_menu .menu{
    color: black;
    position: absolute;
    top: 1px;
    width: 100%;
} 

.sidebar_menu .menu li{
    margin-top: 4px;
    padding: 10px 20px;
}

.sidebar_menu .menu i,a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 20% ;
    bottom: 10%;
}

.sidebar_menu .social_media i{
    color: black;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}


/*  hover properties  */

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px black;
}

.sidebar_menu .btn_two i:hover{
    /* font-size: 30px; */
    transform: scale(1.4);
    box-shadow: 0 2px 6px red ;
}

.main_box .btn_one span:hover{
    transform: scale(1.2);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu{
    /*  means jab bhi menu par click karke checkbox checked hoga tab sidebar menu left se 0-- means dhikne lag jayega  */

    left: 0;
}


.sidebar_menu{
    transition: all 0.3s linear;
}


.animation{
    padding : 0.2rem ;

}

.social_media{
    animation-name: cssanimation ;
        animation-duration: 2s;
        animation-timing-function: steps(0);
        animation-delay: 0;
        animation-iteration-count:  infinite;
        animation-direction: normal;
        animation-direction: reverse;
        animation-direction: alternate;
        animation-direction: alternate-reverse;
}


@keyframes per{
    0%{
        background-color: rgb(1, 40, 40);
    }
    30%{
        background-color: rgb(169, 83, 83);
    }
    65%{
        background-color: rgb(59, 59, 146);
    }
    100%{
        background-color: rgb(228, 228, 124);
    }
}

.animation{
    animation: per 1s ease 0s infinite normal;
}



/*  */

/* Hide the sidebar menu by default */
.sidebar_menu {
    display: none;
}

/* Show the sidebar menu when the checkbox is checked */
#check:checked ~ .sidebar_menu {
    display: block;
}
